body {
    background-color: #F0CA6D;
}

.main-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.calculator-box {
    justify-self: center;
    padding: 0;
    width: 500px;
    min-height: 600px;
    background-color: #F7F2C1;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.dial {
    display: block;
    width: auto;
    border: 1px solid #403321;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #48BA95;
    padding-right: 30px ;
    text-align: right;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Skranji', cursive;
}

.dial h3 {
    font-size: 35px;
}

.switch-btn-box {
    display: block;
    width: 100%;
    text-align: right;
}

.on-off-btn {
    display: inline-block;
    border-radius: 60px;
    font-family: 'Skranji', cursive;
    color: #48BA95;
    font-size: 18px;
    background-color: #F0CA6D;
    padding: 5px 10px 5px 10px;
    border: none;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.all-btn-box {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-family: 'Skranji', cursive;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
}

.btn-num-7 {
    grid-area: 1 / 1 / 1 / 1 ;
    color: #48BA95;
    background-color: #F0CA6D;
    align-self: center;
    justify-self: center;
    border: 1px solid #403321;
    padding: 25px 30px;
}

.btn-num-8 {
    grid-area: 1 / 2 / 1 / 2 ;
    color: #F0CA6D;
    background-color: #48BA95;
    align-self: center;
    justify-self: center;
    border: 1px solid #403321;
    padding: 25px 30px;
}

.btn-num-9 {
    grid-area: 1 / 3 / 1 / 3 ;
    color: #48BA95;
    background-color: #F0CA6D;
    align-self: center;
    justify-self: center;
    border: 1px solid #403321;
    padding: 25px 30px;
}

.btn-percent {
    grid-area: 1 / 4 / 1 / 4 ;
    color: #F0CA6D;
    background-color: #48BA95;
    align-self: center;
    justify-self: center;
    border: 1px solid #403321;
    padding: 25px 30px;
}

.btn-root {
    grid-area: 1 / 5 / 1 / 5 ;
    color: #48BA95;
    background-color: #F0CA6D;
    align-self: center;
    justify-self: center;
    place-self: center;
    border: 1px solid #403321;
    padding: 25px 30px;
}

.btn-num-4 {
    grid-area: 2 / 1 / 2 / 1 ;
    color: #F0CA6D;
    background-color: #48BA95;
    align-self: center;
    justify-self: center;
    border: 1px solid #403321;
    padding: 25px 30px;
}

.btn-num-5 {
    grid-area: 2 / 2 / 2 / 2 ;
    color: #48BA95;
    background-color: #F0CA6D;
    align-self: center;
    justify-self: center;
    border: 1px solid #403321;
    padding: 25px 30px;
}

.btn-num-6 {
    grid-area: 2 / 3 / 2 / 3 ;
    color: #F0CA6D;
    background-color: #48BA95;
    align-self: center;
    justify-self: center;
    border: 1px solid #403321;
    padding: 25px 30px;
}

.btn-multiply {
    grid-area: 2 / 4 / 2 / 4 ;
    color: #48BA95;
    background-color: #F0CA6D;
    align-self: center;
    justify-self: center;
    border: 1px solid #403321;
    padding: 25px 30px;
}

.btn-divide {
    grid-area: 2 / 5 / 2 / 5 ;
    color: #F0CA6D;
    background-color: #48BA95;
    align-self: center;
    justify-self: center;
    border: 1px solid #403321;
    padding: 25px 30px;
}

.btn-num-1 {
    grid-area: 3 / 1 / 3 / 1 ;
    color: #F0CA6D;
    background-color: #48BA95;
    align-self: center;
    justify-self: center;
    border: 1px solid #403321;
    padding: 25px 30px;
}

.btn-num-2 {
    grid-area: 3 / 2 / 3 / 2 ;
    color: #48BA95;
    background-color: #F0CA6D;
    align-self: center;
    justify-self: center;
    border: 1px solid #403321;
    padding: 25px 30px;
}

.btn-num-3 {
    grid-area: 3 / 3 / 3 / 3 ;
    color: #F0CA6D;
    background-color: #48BA95;
    align-self: center;
    justify-self: center;
    border: 1px solid #403321;
    padding: 25px 30px;
}

.btn-addition {
    grid-area: 3 / 4 / 3 / 4 ;
    color: #48BA95;
    background-color: #F0CA6D;
    align-self: center;
    justify-self: center;
    border: 1px solid #403321;
    padding: 25px 30px;
}

.btn-subtraction {
    grid-area: 3 / 5 / 3 / 5 ;
    color: #F0CA6D;
    background-color: #48BA95;
    align-self: center;
    justify-self: center;
    border: 1px solid #403321;
    padding: 25px 30px;
}

.btn-c {
    grid-area: 4 / 1 / 4 / 1 ;
    color: #48BA95;
    background-color: #F0CA6D;
    align-self: center;
    justify-self: center;
    border: 1px solid #403321;
    padding: 25px 30px;
}

.btn-0 {
    grid-area: 4 / 2 / 4 / 2 ;
    color: #F0CA6D;
    background-color: #48BA95;
    align-self: center;
    justify-self: center;
    border: 1px solid #403321;
    padding: 25px 30px;
}

.btn-00 {
    grid-area: 4 / 3 / 4 / 3 ;
    color: #48BA95;
    background-color: #F0CA6D;
    align-self: center;
    justify-self: center;
    border: 1px solid #403321;
    padding: 25px 30px;
}

.btn-point {
    grid-area: 4 / 4 / 4 / 4 ;
    color: #F0CA6D;
    background-color: #48BA95;
    align-self: center;
    justify-self: center;
    border: 1px solid #403321;
    padding: 25px 30px;
}

.btn-equals {
    grid-area: 4 / 5 / 4 / 5 ;
    color: #48BA95;
    background-color: #F0CA6D;
    align-self: center;
    justify-self: center;
    place-self: center;
    border: 1px solid #403321;
    padding: 25px 30px;
}

@media screen and (max-width: 1200px) and (min-width: 200px) {
    body {
        overflow-x: hidden;
    }
    
    .main-box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .calculator-box {
        justify-self: center;
        width: 100%;
        min-height: fit-content;
        background-color: #F7F2C1;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    }

    .dial {
        display: block;
        width: auto;
        border: 1px solid #403321;
        border-top: none;
        border-left: none;
        border-right: none;
        color: #48BA95;
        padding-right: 15px ;
        text-align: right;
        font-size: 18px;
        font-weight: bold;
        font-family: 'Skranji', cursive;
    }

    .dial h3 {
        font-size: 35px;
    }
    
    .switch-btn-box {
        display: block;
        width: 100%;
        text-align: right;
    }
}

@media screen and (max-width: 1600px) and (min-width: 1201px) {
    .main-box {
        height: auto;
    }
}
